<div class="jumbotron text-center">
    <h2>Learn how to Drag and Drop using Dragula with Angular2</h2>
    <i>Drag and Drop the image below from one container to another and back </i>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class='container left'>
                   <div id="div2" [dragula]='"first-bag"'> <img class="col-sm-4" src="../assets/plane.jpeg" alt=""></div>
                     <div id="div2" [dragula]='"first-bag"'></div>
                </div>
            </div>
        </div>

    </div>
</div>
